/**************** TESTING NEW FONTS **************** */

/* LOGOTYPE: Roboto Slab - no italics */
@font-face {
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Regular.woff') format('woff'),
         url('../fonts/RobotoSlab-Regular.otf') format('truetype'),
         url('../fonts/RobotoSlab-Regular.svg#source_sans_proitalic') format('svg');
}

/* SANS SERIF: Alegreya Sans */
@font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/AlegreyaSans-Thin.eot');
    src: url('../fonts/AlegreyaSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Thin.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-Thin.woff') format('woff'),
         url('../fonts/AlegreyaSans-Thin.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Thin.svg#source_sans_proregular') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/AlegreyaSans-ThinItalic.eot');
    src: url('../fonts/AlegreyaSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-ThinItalic.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-ThinItalic.woff') format('woff'),
         url('../fonts/AlegreyaSans-ThinItalic.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-ThinItalic.svg#source_sans_proregular') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/AlegreyaSans-Regular.eot');
    src: url('../fonts/AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-Regular.woff') format('woff'),
         url('../fonts/AlegreyaSans-Regular.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Regular.svg#source_sans_proitalic') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/AlegreyaSans-Italic.eot');
    src: url('../fonts/AlegreyaSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Italic.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-Italic.woff') format('woff'),
         url('../fonts/AlegreyaSans-Italic.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Italic.svg#source_sans_proitalic') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/AlegreyaSans-Bold.eot');
    src: url('../fonts/AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-Bold.woff') format('woff'),
         url('../fonts/AlegreyaSans-Bold.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-Bold.svg#source_sans_probold') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/AlegreyaSans-BoldItalic.eot');
    src: url('../fonts/AlegreyaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AlegreyaSans-BoldItalic.woff2') format('woff2'),
         url('../fonts/AlegreyaSans-BoldItalic.woff') format('woff'),
         url('../fonts/AlegreyaSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/AlegreyaSans-BoldItalic.svg#source_sans_probold') format('svg');
}

/* SERIF: Carrara - only 1 weight currently available, no italics */
@font-face {
    font-family: 'Carrara';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Carrara-Light.eot');
    src: url('../fonts/Carrara-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Carrara-Light.woff2') format('woff2'),
         url('../fonts/Carrara-Light.woff') format('woff'),
         url('../fonts/Carrara-Light.otf') format('truetype'),
         url('../fonts/Carrara-Light.svg#source_sans_proitalic') format('svg');
}

/* SERIF: Amiri (placeholder for Carrara—to be purchased at https://www.myfonts.com/fonts/hoftype/carrara) */
@font-face {
    font-family: 'Carrara';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Amiri-Regular.eot');
    src: url('../fonts/Amiri-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amiri-Regular.woff2') format('woff2'),
         url('../fonts/Amiri-Regular.woff') format('woff'),
         url('../fonts/Amiri-Regular.ttf') format('truetype'),
         url('../fonts/Amiri-Regular.svg#source_sans_proitalic') format('svg');
}

@font-face {
    font-family: 'Carrara';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Amiri-Italic.eot');
    src: url('../fonts/Amiri-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amiri-Italic.woff2') format('woff2'),
         url('../fonts/Amiri-Italic.woff') format('woff'),
         url('../fonts/Amiri-Italic.ttf') format('truetype'),
         url('../fonts/Amiri-Italic.svg#source_sans_proitalic') format('svg');
}

@font-face {
    font-family: 'Carrara';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Amiri-Bold.eot');
    src: url('../fonts/Amiri-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amiri-Bold.woff2') format('woff2'),
         url('../fonts/Amiri-Bold.woff') format('woff'),
         url('../fonts/Amiri-Bold.ttf') format('truetype'),
         url('../fonts/Amiri-Bold.svg#source_sans_probold') format('svg');
}

@font-face {
    font-family: 'Carrara';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Amiri-BoldItalic.eot');
    src: url('../fonts/Amiri-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amiri-BoldItalic.woff2') format('woff2'),
         url('../fonts/Amiri-BoldItalic.woff') format('woff'),
         url('../fonts/Amiri-BoldItalic.ttf') format('truetype'),
         url('../fonts/Amiri-BoldItalic.svg#source_sans_probold') format('svg');
}

/*
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light.woff2') format('woff2'),
         url('../fonts/Lato-Light.woff') format('woff'),
         url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Lato-LightItalic.eot');
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-LightItalic.woff2') format('woff2'),
         url('../fonts/Lato-LightItalic.woff') format('woff'),
         url('../fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff2') format('woff2'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Italic.woff2') format('woff2'),
         url('../fonts/Lato-Italic.woff') format('woff'),
         url('../fonts/Lato-Italic.ttf') format('truetype');

}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Lato-BoldItalic.eot');
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
         url('../fonts/Lato-BoldItalic.woff') format('woff'),
         url('../fonts/Lato-BoldItalic.ttf') format('truetype');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather-light-webfont.eot');
    src: url('../fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-light-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-light-webfont.woff') format('woff'),
         url('../fonts/merriweather-light-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-light-webfont.svg#source_sans_proregular') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-regular-webfont.svg#source_sans_proitalic') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/merriweather-italic-webfont.eot');
    src: url('../fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-italic-webfont.woff') format('woff'),
         url('../fonts/merriweather-italic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-italic-webfont.svg#source_sans_proitalic') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bold-webfont.svg#source_sans_probold') format('svg');

}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/merriweather-bold-italic-webfont.eot');
    src: url('../fonts/merriweather-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bold-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-italic-webfont.woff') format('woff'),
         url('../fonts/merriweather-bold-italic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bold-italic-webfont.svg#source_sans_probold') format('svg');

}