/* admin-only styles for bbg redesign */
/*
.acf_postbox.no_box {
	background-color: #FFFFFF;
	padding: 2%;
	width: 96%;
}

.acf_postbox.no_box:before {
	content: "";
}
*/

#acf-first_name,
#acf-last_name {
	border-top: none;
	display: inline-block;
	width: 45%;
}