/* admin-only styles for bbg redesign */
/*
.acf_postbox.no_box {
	background-color: #FFFFFF;
	padding: 2%;
	width: 96%;
}

.acf_postbox.no_box:before {
	content: "";
}
*/

#acf-first_name,
#acf-last_name {
	border-top: none;
	display: inline-block;
	width: 45%;
	width: calc(50% - 20px);
}

/* Moving the author guide link to the right for admins */
/* Breaks dropdown menus for 'add new' */
/*
@media screen and (min-width: 900px) {
	#wpadminbar .quicklinks ul {
		width: 100%;
	}

	li#wp-admin-bar-authorguide {
		float: right;
	}
}
*/