header {
	button.menu-toggle {
		background-color: $white;
		border: 1px solid $color-usim-beige-lightest;
	}
}

#featured-BBG-post {
	article {.post-date {text-align: right;}}
}
#home-impact-story {
	background-color: $color-usim-beige-lightest;
	padding: 1em;
}

// CEO SOAP
.bbg__voice--featured {
	background-color: #f0f0f0;
	.ceo-statement {@include span-columns(8);}
	.ceo-image {@include span-columns(4);}
}

@include media($medium-screen) {
	#featured-BBG-post {@include span-columns(7);}
	#home-impact-story {@include span-columns(5);}
	#sub-posts {
		display: block;
		article {@include span-columns(4);}
	}
	.bbg__voice--featured {
		background-color: #f0f0f0;
		.ceo-statement {@include span-columns(10);}
		.ceo-image {@include span-columns(2);}
	}
}
@include media($large-screen) {
	#featured-BBG-post {
		@include span-columns(8);
		#featured-post-excerpt {display: none;}
	}
	#home-impact-story {@include span-columns(4);}
}