.act-title {
	text-align: center;
}

.public-law {
		color: #000;
		font: {
			family: $font-serif;
			size: $base-font-size;
		}
		text-align: center;
	}

.bill_text_content {
	font: {
		family: $font-serif;
		size: $small-font-size;
	}

	line-height: $small-line-height;

	.enroll-date {
		text-align: center;
	}

	blockquote { margin: 1em; }

	ul { margin-left: 1em; }

	/*** LEGISLATIVE DOCUMENT HEADER **/
	section.form {
	    text-align: center;

	    p.congress, p.session {
		    margin: 0 !important;
		    font: {
		    	size: 85%;
		    	variant: small-caps;
		    }
		    color: #777;
		}

		p.legis-num {
			font-size: 125%;
			font-weight: bolder;
			margin: 2rem 0 !important;
		}

		p.legis-type {
		    font-size: 125%;
		    font-weight: bold;
		}

		p.legis-type::before {
			display: block;
			border-top: 1px solid #AAA;
		    width: 50%;
		    content: "";
		}

		p.legis-type::before { margin: 0 auto 1em; }

		.enacted  {
			font-style: italic;

			.enacted-normal {
				font-style: normal;
			}
		}
	}

	/*** LEGISLATIVE DOCUMENT BODY **/
	section.legis-body, section.resolution-body, section.amendment-body {
	    margin: 0.5em;
	    border-top: {
	    	color: black;
	    	style: dashed;
	    	width: 0.1em;
	    }
	    padding: 1em 0 0.25em;
	}

	/*** ALL SEGMENTS **/
	span.enum {
		font-weight: $font-bold;
	}

	span.enum + p.header {
	    display: inline;
	}

	span.enum::after {
		content: "\2002";
	}

	/*** SEGMENTS ABOVE SECTION **/
	section.big-level > span.enum,
    section.big-level > p.header {
        display: block;
        text-align: center;
    }

	section.big-level > span.enum {
	    margin-top: 0.5em;
	    margin-bottom: 1em;
	    font-weight: bolder;
	}

	section.big-level > p.header {
	    margin-top: 2.5em;
	    text-transform: capitalize;
	}

	/*** BIG LEVEL HEADING TEXT **/
	// Division + Subdivision
	section.division span.enum::before {
	    content: "Division ";
	}

	section.subdivision span.enum::before {
	    content: "Subdivision ";
	}
	// Title + Subtitle
	section.title {
		// font-size: 125%;

		span.enum::before {
	    	content: "Title ";
	    }

	    span.enum::after {
			content: "\2014";
		}
	}

	section.title > p.header {
	    font: {
	    	size: 125%;
	    	weight: $font-bold;
	    }
	}

	section.subtitle span.enum::before {
	    content: "Subtitle ";
	}
	// Chapter + Subchapter
	section.chapter {
		span.enum::before {
	    	content: "Chapter ";
	    }
	}
	section.chapter > p.header {
	    font-size: 115%;
	}
	section.subchapter span.enum::before {
	    content: "Subchapter ";
	}
	// Part + Subpart
	section.part span.enum::before {
	    content: "Part ";
	}
	section.subpart span.enum::before {
	    content: "Subpart ";
	}
	// Section + Subsection
	section.section {
		p.header {
			font-variant: capitalize;

			&+ p.text {
				margin-top: -1rem;
				margin-bottom: 2rem;
			}
		}
		span.enum::before {
	    	content: "Sec. ";
	    }
	    span.enum::after {
			content: ".\2002";
		}
	}

	section.section > span.enum + p.header,
	section.section > span.enum + p.text {
        margin-left: 0.25em;
    }

	section.subsection,
	section.paragraph {
		p.inline-header {
			font-variant: small-caps;

			&+ p.text {
				display: inline;
				margin-top: -1rem;
				margin-bottom: 2rem;
			}
		}
		span.enum::before {
	    	content: "(";
	    }

	    span.enum::after {
			content: ")\2002";
		}
	}

	/*** SEGMENTS BELOW SECTION **/
	section.little-level {
	    padding-left: 1.5em;
	    margin: 1em 0;
	}
	section.little-level > span.enum {
	    margin-left: -1.5em;
	    margin-right: .25em;
	}
	section.little-level > span.enum + p.header {
	    margin-left: 0.125em;
	    text-align: left;
	}
	section.little-level > p.header::after {
	    // content: ".\2014";
	}

	p.text {
		line-height: $lead-line-height;

		span.enum {
		    display: inline;
		}
	}

	span.enum + p.text {
	    display: inline;
	}


	/* QUOTED BLOCKS */
	section.quoted-block > div.wrapper {
		&:first-child {
		    margin-top: 1em;
		    border: solid#CCC;
		    border-width: 0.1333em 0.2em;
		    background-color: #F3F3F3;
		    padding: 0 2.5em 0 0.5em;
		}

		.section {
			p.header {
				font-variant: capitalize;

				&+ p.text {
					margin-top: -1rem;
					margin-bottom: 2rem;
				}
			}
			span.enum::before {
		    	content: "Sec. ";
		    }
		    span.enum::after {
				content: ".\2002";
			}
		}

		section.subsection,
		section.paragraph {
			p.inline-header {
				font-variant: small-caps;

				&+ p.text {
					display: inline;
					margin-top: -1rem;
					margin-bottom: 2rem;
				}
			}
			span.enum::before {
		    	content: "(";
		    }

		    span.enum::after {
				content: ")\2002";
			}
		}
	}

	p.quoted-block-continuation-text {
	    line-height: 1.25;
	    text-align: justify;
	}

	q.quote {
	    quotes: "“"
	    "”"
	    "‘"
	    "’";
	}

	q.quote::before {
	    content: open-quote;
	}

	q.quote::after {
	    content: close-quote;
	}

}

/*** TEXT WE WANT TO HIGHLIGHT **/
/*span.short-title {}

span.effective-date {
        color: #00C;
}*/

/*** APPROPRIATIONS **/
/*
div.appropriations-major > p.header,
    div.appropriations-intermediate > p.header,
    div.appropriations-small > p.header {
        display: block;
        margin: 1em 0;
        text-align: center;
    }

div.appropriations-major > p.header {
    margin-top: -0.5em;
    margin-bottom: 1.5em;
    font-size: 125%;
    font-weight: normal;
}

div.appropriations-intermediate > p.header {
    font-size: 115%;
    text-transform: capitalize;
}

div.appropriations-small > p.header {
    font-size: 105%;
}*/
