.bbg__employee-profile__excerpt {
	@extend .bbg-grid--2-3-3;

	margin-bottom: $site-margins;

	.bbg__employee-profile__excerpt__name {
		margin: {
			top: 1rem;
			bottom: 0;
		}
	}
	.bbg__employee-profile__excerpt__title {
		font-family: $font-sans;
		margin-top: 0;
	}
}

.bbg__profile__intern {
	.bbg__profile__intern__job-label {
		color: $color-secondary-darkest;
		display: block;
		font-weight: bold;
		text-transform: uppercase;
	}
}