.bbg-banner {
	background-color: $color-gray-lightest;
	@include backgroundCover();
	height: $banner-image-height * .75;
	margin-bottom: .5rem;
	max-width: 9999px;
	position: relative;
	width: 100%;
	@include media($medium-screen) {
		height: $banner-image-height;
	}
	@include media($medium-large-screen) {
		margin-top: 4.8rem;
	}
	@include media($large-screen) {
		height: $banner-image-height * 1.25;
	}
	.bbg-banner__container {
		&.usa-grid {
			@include media($medium-screen) {
				padding-right: 0;
			}
		}
		@include media($medium-large-screen) {
			border-left: 1px solid rgba(240, 240, 240, .4);
			border-right: 1px solid rgba(240, 240, 240, .4);
			height: 100%;
		}
	}
	a:focus {
		box-shadow: none;
		background: none;
	}
	.bbg-banner__site-logo {
		clear: left;
		display: block;
		width: 100px;
		@include media($medium-screen) {
			width: 150px;
		}
		@include media($large-screen) {
			width: 200px;
		}
		:focus {
			box-shadow: none;
		}
	}
	.bbg-banner-box {
		margin: 0 auto;
		max-width: $site-max-width;
		padding-bottom: $site-margins/2;
		position: absolute;
		bottom: 0;
		@include media($medium-screen) {
			padding-right: $site-margins;
		}
		.bbg-banner-site-title {
			color: #FFF;
			font: {
				family: $font-logo !important;
				size: $h1-font-size * .8;
				weight: $font-light;
			}
			line-height: 1;
			margin-bottom: 5px;
			max-width: $site-max-width;
			padding-right: $site-margins;
			text: {
				shadow: $text-shadow;
				transform: uppercase;
			}
			@include media( $medium-screen ) {
				font-size: $h1-font-size * 1.2;
			}
			@include media( $large-screen ) {
				font-size: 5.5rem;
			}
		}
		.bbg-banner-site-description {
			background-color: $box-transparent;
			border-radius: 0 $border-radius $border-radius 0;
			color: #FFF;
			display: inline-block;
			font: {
				size: $h3-font-size * .8;
				weight: $font-normal;
			}
			margin: {
				top: 0;
				right: 0;
				left: -$grid-margins;
			}
			padding: 10px $site-margins 10px $grid-margins;
			text-transform: uppercase;
			@include media($large-screen) {
				font-size: $h3-font-size;
			}
		}
	}
	.bbg-banner__gradient {
		background-image: linear-gradient(transparent 0%, #000 200%);
		height: 25%;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.bbg__social__container {
	position: fixed;
	top: 20%;
	right: 0;
	z-index: 0;
}

.bbg__social {
	max-width: 100%;
	@include media($large-screen) {
		right: -$social-icon-home - 50px;
	}
}

.bbg__social-list__label {
	display: none;
	@include media($large-screen) {
		color: #CCC;
		display: block;
		line-height: 0;
		text-orientation: sideways-right;
		writing-mode: vertical-rl;
	}
}

.bbg__social-list {
	display: none;
	@include media($large-screen) {
		@include unstyled-list;
		display: block;
		.bbg__social-list__link {
			background-color: #FFF;
			border: $border-solid;
			border-bottom: none;
			//border-radius: 50%;
			margin-bottom: 0;
			:hover {
				background-color: #FFF;
				//border-radius: 50%;
				box-shadow: 0px 0px 6px #000;
				z-index: 9999;
			}
			;
			:focus {
				//background-color: #fdff67;
				//border-radius: 50%;
				box-shadow: 0px 0px 6px #000;
			}
			;
			&:last-of-type {
				border-bottom: $border-solid
			}
			;
			a {
				background: {
					position: center center;
					repeat: no-repeat;
					size: 45px;
				}
				height: $social-icon-home;
				display: block;
				width: $social-icon-home;
				// GitHub link
				&.bbg-icon-github {
					background: {
						image: url(img/social-icons/png/github-mark.png);
						image: url(img/social-icons/svg/github-mark.svg);
						size: 30px;
					}
				}
				//YouTube link
				&.bbg-icon-youtube {
					background: {
						image: url(img/social-icons/png/youtube15.png);
						image: url(img/social-icons/svg/youtube15.svg);
					}
				}
				//Twitter link
				&.bbg-icon-twitter {
					background: {
						image: url(img/social-icons/png/twitter16.png);
						image: url(img/social-icons/svg/twitter16.svg);
					}
				}
				//Facebook link
				&.bbg-icon-facebook {
					background: {
						image: url(img/social-icons/png/facebook25.png);
						image: url(img/social-icons/svg/facebook25.svg);
					}
				}
			}
		}
	}
}

.bbg-banner__cutline {
	@extend .wp-caption-text;
	color: #999 !important;
	@include media($medium-screen) {
		text-align: right !important;
	}
}

section.usa-section.bbg-banner__section {
	margin-bottom: $site-margins;
}
// icons on focus boxes (soapbox/events announcement)
.bbg__article-icons-container {
	display: table-row;

	// prorperties for all icons on focus boxes (soapbox/events announcement)
	.bbg__article-icon {
		background: {
			size: $bbg__category-icon;
			position: left top;
			repeat: no-repeat;
			image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_advisory_red@4x.png');
			image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_advisory_red.svg');
		}
		display: table-cell;
		width: $bbg__category-icon + 5px;
	}

	.bbg__label--outside {
		display: inline-block;
		margin-bottom: 1rem;
	}
}


// focus box: soapbox
.bbg__voice {
	$voiceTypes: ceo, guest, featured;
	@for $i from 1 through length( $voiceTypes ) {
		&--#{ nth( $voiceTypes, $i ) } {
			padding: $site-margins-medium-plus;

			@include media( $medium-large-screen ) {
				padding: $site-margins;
				p {
					line-height: 2.2;
				}
			}
		}
	}
	// ceo box
	&--ceo {
		background-color: $color-cool-blue-lightest;

		.bbg__article-icon {
			//local image urls for dev
			/* background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_blog_red@4x.png');
			background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_blog_red.svg'); */
			// icon image urls
			background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_blog_red@4x.png');
			background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_blog_red.svg');
		}
	}
	// "USIM matters" blog post
	&--guest {
		background-color: $color-green-lightest;

		.bbg__article-icon {
			//local image urls for dev
			/* background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_blog_red@4x.png');
			background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_blog_red.svg'); */
			// icon image urls
			background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_blog_red@4x.png');
			background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_blog_red.svg');
		}
	}
	// media advisory and other featured posts (keep default icon)
	&--featured {
		background-color: $color-gold-lightest;

		.bbg__article-icon {
			display: none;
		}
	}
}

// focus box: event announcement
.bbg__event-announcement, .bbg__advisory-announcement {
	.bbg__event-announcement__content {
		background-color: #F1F1F1;
		border-radius: 0 3px 3px 3px;
		padding: 1rem 2rem;
	}

	.bbg__event-announcement__title {
		font-size: 2.4rem;
	}

	@include media($medium-screen) {
		.bbg__event-announcement__excerpt {
			display: none;
		}
		.bbg__event-announcement__title {
			font-size: 2.4rem;
		}
	}

	@include media($medium-large-screen) {
		.bbg__event-announcement__excerpt {
			display: block;
		}
		.bbg__event-announcement__title {
			font-size: 2rem;
		}
	}
}
.bbg__event-announcement {
	.bbg__article-icon {
		//local image urls for dev
		/* background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_event_red@4x.png');
		background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_event_red.svg'); */
		// icon image urls
		background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_event_red@4x.png');
		background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_event_red.svg');
	}
}
.bbg__advisory-announcement {
	.bbg__article-icon {
		//local image urls for dev
		/* background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_event_red@4x.png');
		background-image: url('/innovationWP/wp-content/themes/BBGredesign/img/site-icons/BBG_event_red.svg'); */
		// icon image urls
		background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_advisory_red@4x.png');
		background-image: url('/wp-content/themes/bbgRedesign/img/site-icons/BBG_advisory_red.svg');
	}
}


.bbg__home__recent-posts {
	.bbg__secondary-stories {
		@include media($medium-screen) {
			.bbg-blog__excerpt-title--list {
				font-size: 2.5rem;
			}
		}
	}
}