.bbg__impact-model {
	.bbg__big-type {
		font-size: 3rem;
	}

	p{
		font-family: $font-sans;
	}

	p.usa-font-lead{
		font-family: $font-serif;
	}

	.bbg__impact-model__section {
		border-bottom: 1px dotted #999;
		padding-bottom: 6rem;
	}

	.bbg__impact-model__section:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

	.bbg__impact-model__subsection{
		margin-bottom: $site-margins;

		h3,
		h4,
		h5,
		p {
			margin: 0 auto;
			max-width: 200px;
			text-align: center;
		}
	}

	.bbg__impact-model__optional {
		color: #999;
	}

	.bbg__impact-model__graphic {
		border-radius: 50%;
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 200px;
		width: 100%;

		@include media($medium-screen) {
			&.large{
				max-width: 300px;
			}
		}
	}

	@include media($medium-screen) {
		.bbg__big-type {
			font-size: 4rem;
		}
		.usa-grid {
			.usa-width-one-half {
				border-left: 1px dotted #999;
				padding-left: $bbg-grid-gutter;
			}
			.usa-width-one-half:first-of-type {
				border-left: none;
				padding-left: 0;
			}

			.usa-width-one-third {
				border-left: 1px dotted #999;
				padding-left: $bbg-grid-gutter;
			}
			.usa-width-one-third:first-of-type {
				border-left: none;
				padding-left: 0;
			}
		}
	}
}
