.bbg__contact-card {
	background-color: $color-gray-lightest;
	border-radius: $border-radius;
	margin: {
		top: $site-margins;
		bottom: $site-margins;
	}
	padding: $site-margins;

	@include media($medium-screen) {
		position: relative;
	}

	p, a, ul, li {
		font-family: $font-sans;
	}

	&.bbg__contact-card--include-map {
		padding: 0;

		.bbg__contact-card__text {
			padding: $site-margins-medium;
			width: 100%;

			@include media($medium-screen) {
				margin: {
					right: 0;
					left: auto;
				}
				width: 50%;
			}
			@include media($medium-large-screen) {
				margin: {
					right: 0;
					left: 0;
				}
				width: 100%;
			}
		}

		.bbg__contact-card__map {
			background-color: $color-gray-medium;
			height: 200px;
			margin-bottom: 0;
			position: relative;
			width: 100%;

			@include media($medium-screen) {
				height: 100%;
				position: absolute;
				width: 50%;
			}

			@include media($medium-large-screen) {
				height: 200px;
				position: relative;
				width: 100%;
			}
		}
	}
}
#entity_sites {
	display: inline-block;
	margin-right: 2%;
	width: 73%;
}
#entityUrlGo {
	margin: 0;
	width: 25%;
}