.bbg__map--banner {
	background-color: $color-gray-lightest;
	height: 300px;
	width: 100%;

	@include media($small-screen) {
		height: 350;
	}

	@include media($medium-screen) {
		height: 400px;
	}

	@include media($medium-large-screen) {
		height: 450px;
	}

	@include media($large-screen) {
		//height: 600px;
	}

	.bbg__map__infobox__mugshot {
		display: none;

		@include media($medium-screen) {
			display: block;
			float: left;
			margin-right: 1rem;
			width: 30%;
		}
	}

	.bbg__map__infobox__date {
		color: $color-gray-medium;
	}
}

.bbg__memorial {
	.usa-grid-full {
		background-color: $color-gray-lightest;
		padding-top: 2rem;
	}
}

.bbg__profile-grid__profile {
	margin-bottom: $site-margins;

	.bbg__profile-grid__profile__mugshot {
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		width: 100%;

		&:hover{
			-webkit-filter: none;
			filter: none;
		}
	}

	.bbg__profile-grid__profile__name {
		//color: #FFF;
	}
	.bbg__profile-grid__profile__dates {
		color: #999;
	}

	.bbg__profile-grid__profile__description {
		color: $color-gray-lightest;
		font-family: $font-sans;
		font-size: 90%;
	}
}

@media screen and (min-width: 300px) and (max-width: 600px){
	.bbg__profile-grid__profile {
		&.usa-width-one-sixth {
			@include span-columns(6);
		}

		&.usa-width-one-sixth:nth-child(2n) {
			margin-right: 0;
		}
	}
}

/* Fallen journalists memorial wall */
.bbg__profile-grid__profile {
	@extend .usa-width-one-sixth;
	float: none !important;
	display: inline-block !important;
	vertical-align: top;
}

.bbg__profile-featured__profile__mugshot {
	float: left;
	margin-right: 1.5rem;
	max-width: 33%;
}
