/* Page content as introduction */
.bbg__about__intro {

	// First paragraph
	p:first-child {
		@extend .usa-font-lead;

		font-size: $read-in-font-size;
		line-height: 2.5;
		margin-top: 0;
	}
}

// Child rows
.bbg__about__children--row {
	margin-bottom: $site-margins;
}

/*****
	Multi-column child styles
*****/

.bbg__about__excerpt-content {
	display: none;
}

// Style the mission differently
.bbg__about__child--mission {
	background-color: $color-gray-dark;
	// background-color: $color-gray-lightest;
	border-radius: $border-radius;
	padding: {
		top: 0;
		right: $site-margins-small;
		bottom: $site-margins-small;
		left: $site-margins-small;
	}

	// Hide the post image
	.single-post-thumbnail {
		display: none;
	}

	// Show excerpt
	.bbg__about__excerpt-content {
		display: block;
	}

	p {
		color: #FFF;
		font: {
			family: $font-serif;
			size: 2rem;
			weight: 500;
		}
		line-height: 2.1;
		margin: 0;
	}

	a {
		color: $color-primary-alt-light;
	}

	.bbg-label {
		background-color: $color-secondary-darkest;
		color: #FFF;
		display: inline-block;
		font-size: $lead-font-size;
		padding: .5rem 1rem;

		a {
			color: #FFF;
		}
	}

	@include media($medium-large-screen) {
		padding: {
			top: 0;
			right: $site-margins;
			bottom: $site-margins;
			left: $site-margins;
		}
	}
}

/*****
	Umbrella child styles
*****/
.bbg__about__child__banner {
	background-position: center center;
	float: left;
	min-height: 20rem;
	height: 100%;
	margin: {
		right: $site-margins;
		bottom: $site-margins-small;
	}
	min-width: 100px;
	width: 40%;
}

.bbg__about__child__intro {
	@extend .usa-font-lead;
	p {
		line-height: 1.9;
		margin-top: -0.75rem;
	}
}

.bbg__about__grandchild {
	p {
		font-family: $font-sans;
	}
}