/* Page content as introduction */
.bbg__about__intro {

	// First paragraph
	p:first-of-type {
		@extend .usa-font-lead;

		//font-size: $read-in-font-size;
		line-height: 2.5;
	}
}

// Child rows
.bbg__about__children--row {
	margin-bottom: $site-margins-large;
}


/*****
	Multi-column child styles
*****/

.bbg__about__child {
	@include media($medium-screen) {
		.bbg-label {
			font-size: 2rem;
		}
	}
}

.bbg__about__excerpt-content {
	display: none;
}

// Style the mission differently
.bbg__about__child--mission {

	// Hide the post image
	.single-post-thumbnail {
		display: none;
	}

	// Show excerpt
	.bbg__about__excerpt-content {
		display: block;
		background-color: $color-gray-lightest;
		border-radius: $border-radius;
		padding: $site-margins-medium;

		@include media($medium-screen) {
			padding: $site-margins-small;
		}
		@include media($medium-large-screen) {
			padding: $site-margins;
		}
	}

	p {
		color: #000;
		font: {
			family: $font-serif;
			size: 1.8rem;
			weight: 300;
		}
		line-height: 1.7;
		margin: 0;

		@include media($medium-screen) {
			font-size: 1.7rem;
		}
		@include media($medium-large-screen) {
			font-size: 1.8rem;
		}
		@include media($large-screen) {
			font-size: 2rem;
			line-height: 2.1;
		}
	}

}

/*****
	Umbrella child styles
*****/
.bbg__about__child__intro {

	p:first-of-type {
		@extend .usa-font-lead;
		line-height: 2.5;
	}
}

.bbg__about__grandchild {
	.bbg__about__grandchild__title {
		text-transform: uppercase;
	}

	.bbg__about__grandchild__thumb {
		@include backgroundCover;

		float: left;
		margin: {
			top:  $site-margins-small;
			right: $site-margins-small;
		}
		max: {
			height: 40rem;
			width: 40rem;
		}
		min: {
			height: 10rem;
			width: 10rem;
		}
		height: 100%;
		width: 25%;
	}

	p {
		line-height: 2;
		margin-top: 0;

		/* Temporary edits from brian */
		font-family: $font-sans;
		font-size: 1.6rem;
		line-height: 1.7;
	}

	.bbg__about__grandchild__link {
		font-family: $font-sans;
		margin-left: 1rem;
		text: {
			align: right;
			decoration: none;
		}
	}
}