.bbg__impact-model {

	@include media($medium-large-screen) {
		.bbg__impact-model__headline {
			font-size: 6rem;
		}
	}
	@include media($small-screen) {
		.bbg-label {
			background-color: #900;
			color: #FFF;
			display: inline-block;
			padding: .5rem 1rem;
		}
	}
	.bbg__big-type {
		font-size: 3rem;
		margin-bottom: 0;
	}


	ul {
		margin-bottom: 0; 
	}

	p{
		font-family: $font-sans;
	}

	p.usa-font-lead{
		font-family: $font-serif;
	}

	p.bbg__infobox__tagline {
		margin-top: 0;
	}

	.bbg__impact-model__section {
		border-bottom: $border-dotted;
		padding-bottom: $site-margins;
	}

	.bbg__impact-model__section:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

	.bbg__impact-model__subsection{
		margin-bottom: $site-margins;

		h3,
		h4,
		h5,
		p {
			margin: 0 auto;
			max-width: 200px;
			text-align: center;
		}
	}

	.bbg__impact-model__optional {
		color: #999;
	}

	.bbg__impact-model__graphic {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: auto;
	}

	@include media($medium-screen) {
		.bbg__big-type {
			font-size: 4rem;
		}
		.usa-grid {
			.usa-width-one-half {
				border-left: 1px dotted #999;
				padding-left: $bbg-grid-gutter;
			}
			.usa-width-one-half:first-of-type {
				border-left: none;
				padding-left: 0;
			}

			.usa-width-one-third {
				border-left: 1px dotted #999;
				padding-left: $bbg-grid-gutter;
			}
			.usa-width-one-third:first-of-type {
				border-left: none;
				padding-left: 0;
			}
		}
	}
}
