.page-template-page-burke, //main burke landing page
.page-id-37373, // category browser with this year's candidates
.burke_candidate-template-default, //candidate detail page
.page-id-37417 //full archive with every year
{
    background-color: #3c6773; //#828f9e
	color: #fff;

	.usa-disclaimer {
		background-color: #828f9e;
		border-bottom: 1px solid #777777;
	}

	h1, h2, h3, h4, h5, h6,
	.bbg-header__site-title,
	.bbg-header__link {
		color: #fff;

		&:hover,
		&:visited {
			color: #fff;
		}
	}

    p, div {
        color: #eee;
    }

    a {
    	color: #7aa3aa;
    }

}