.bbg__employee-profile__excerpt {
	@extend .bbg-grid--2-3-3;

	/* Switching from floats to inline-block so that we don't get weird wrapping
	   for profiles with different vertical heights. */
	display: inline-block;
	float: none;
	margin-bottom: $site-margins;
	vertical-align: top;

	img {
		width: 100%;
	}

	.bbg__employee-profile__excerpt__name {
		margin: {
			top: 1rem;
			bottom: 0;
		}
	}
	.bbg__employee-profile__excerpt__title {
		font-family: $font-sans;
		margin-top: 0;
	}

	.bbg__employee-profile__excerpt__title {
		line-height: 1.3;
		font-size: 90%;
	}
}

.bbg__jobs__table {
	font-size: 90%;
	margin: {
		top: 0;
		bottom: $site-margins-large;
	}
}

.bbg__profile__intern {
	.bbg__profile__intern__job-label {
		color: $color-secondary-darkest;
		display: block;
		font-weight: bold;
		margin-bottom: $site-margins-small;
		text-transform: uppercase;

		a {
			color: $color-secondary-darkest;
			text-decoration: underline;
		}
	}
}

.bbg__career-box {
	.usa-width-two-thirds {
		p {
			margin-top: 0;
		}

		@include media($medium-large-screen) {
			padding-right: $bbg-grid-gutter;
			border-right: $border-dotted;
		}
	}

	.usa-width-one-third {
		h4 {
			margin-top: 0;
		}
	}
}