#splash-bg {
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);

	#text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h2 {color: #d6d7d9;}
	}
	a:link, a:visited {
		color: #ffffff;
		font-size: 1.1875em;
		font-weight: 100;
		text-decoration: underline;
	}
	#close-splash {
		position: absolute;
		top: -2em;
		right: -2em;
		font-size: 1em;
		color: #ffffff;
		cursor: pointer;
	}
}