.comments-area {
	max-width: $article-max-width;
	margin: 0 auto;
}

.bbg__comments-title {
	border-bottom: $border-dotted-section;
	color: $color-secondary-darkest;
	font-size: $h3-font-size;

	@include media($medium-screen) {
		font-size: $h2-font-size;
	}
}

.bbg__comments-list {
	list-style-type: none;
	width: 100%;
}

.bbg__comments-list .comment {
   	border-bottom:  {
   		color: $color-gray-lightest;
   		style: solid;
   		width: 1px;
   	}
    display: inline-block;
    margin: {
    	top: 0;
    	bottom: 3rem;
    }
    padding: {
    	top: 0;
    	right: 1rem;
    	bottom: 1.5rem;
    }
    width: 100%;

    &:before {
    	content: none; //remove bullets from all comments
    }

    > .children {
    	margin: {
    		top: 1rem;
    		right: 0;
    		bottom: 0;
    	}
    	padding: 0;
    	width: 100%;
    }

    > .children .comment {
    	border-bottom: none;
    	border-top:  {
	   		color: $color-gray-lightest;
	   		style: solid;
	   		width: 1px;
	   	}
	   	margin-bottom: 0;
    	padding: {
    		top: 2.5rem;
    		right: 0;
    		bottom: 0;
    		left: 6rem;
    	}
    }

    .comment-body {
		margin-bottom: $grid-margins * 2;
    }

    .comment-author {
	    font-size: 1.8rem;
	    margin-bottom: 0;

		.bbg-avatar {
			float: left;
			height: $bbg-avatar-width-small;
			margin-right: 1.5rem;
			width: $bbg-avatar-width-small;
		}

	    .fn {
	    	color: $color-primary-alt-darkest;
	    }
	}

	.comment-metadata {
		font: {
			size: $small-font-size;
			weight: $font-light;
		}

		a {
		    color: $color-gray-dark;
		    cursor: default;
			pointer-events: none;
		}

		.edit-link a {
		    color: $color-primary-alt-darkest;
			cursor: pointer;
			margin-left: 1rem;
			pointer-events: auto;
		}
	}

	.comment-content {
		font: {
			family: $font-serif;
			size: $base-font-size;
		}
	}
}

.bbg__comments-list .reply {
	@extend .usa-button.usa-button-outline;

	float: right;
	font-size: $small-font-size;
	padding: .25rem 1rem;
}