// Sidebar
.bbg__sidebar__table {
	font-size: 90%;
	margin: {
		top: 0;
		bottom: $site-margins-large;
	}

	td,
	th {
		padding-left: 0;
	}

	td:nth-of-type(3) {
	 	padding-left: 3.5rem;
		// text-align: right;
	}
}

