.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.size-large {
		max-width: $article-max-width;
		width: 100%;

		+ .wp-caption-text {
			margin: {
				right: auto;
				left: auto;
			}
			max-width: $article-max-width;
		}
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	color: $color-gray-dark;
	font: {
		family: $font-serif;
		size: $caption-font-size;
		style: italic;
		weight: $font-light;
	}
	line-height: $lead-line-height;
	margin-top: 1rem;
	text-align: left;
}


/* Mugshot used in the Soapbox on the homepage */
.bbg__mugshot {
	float: left;
	margin-right: 2rem;
	min-width: 100px;
	width: 20%;

	@include media($small-screen) {
		margin-top: $site-margins-small;
	}
}

.bbg__mugshot__caption {
	display: block;
	font-family: $font-sans;
	font-weight: bold;
	line-height: 1;
	margin: {
		top: -.5rem;
		bottom: $site-margins-small;
	}
}

/* Adding half-column images */
.bbg__article-content {
	.alignleft,
	.alignright {
		width: 100% !important;

		@include media($small-screen) {
			max-width: 300px;
			width: 50% !important;
		}

		.wp-caption-text {
			margin: {
				right: auto;
				left: auto;
			};
			max-width: 300px; 
		}

		.size-medium {
			width: 100%;

			@include media($small-screen) {
				width: 100%;
			}
		}

	}

	@include media($small-screen) {
		.alignleft {
			margin-right: $site-margins-medium;
		}
		.alignright {
			margin-left: $site-margins-medium;
		}
	}
}
