/**
 * CH01 - General iframes + embeds
 * CH02 - YouTube video embeds
 * CH03 - Facebook video embeds
 * CH04 - TimelineJS iframe embeds
**/


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}



/****************************************/
/*   RESPONSIVE YOUTUBE EMBEDS          */
/*   used on homepage, posts and pages  */

// Responsive YouTube embeds
.bbg-embed-shell {
	margin: {
		right: auto;
		left: auto;
	}
	max-width: $article-max-width;
}

.single .bbg-embed-shell {
	margin: 0 auto $site-margins auto;
}

.bbg-embed-shell.bbg__featured-video {
	max-width: $site-max-width;
}

.bbg-embed-shell.bbg__featured-timeline {
	max-width: 100%;
	overflow-y: hidden;
}

.embed-container {
	height: 0;
	max-width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.embed-container.c-span {
	padding-bottom: 59.25%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	height: 100%;
	position: absolute;
		top: 0; 
		left: 0;
	width: 100%;
}

.timeline-container {
	height: 100%;
	max-width: 100%;
	min-height: 600px;
	position: relative;
	overflow: hidden;

	@include media($medium-screen) {
		min-height: 650px;
	}


	iframe,
	object,
	embed {
		height: 100%;
		position: absolute;
			top: 0;
			left: 0;
		width: 100%;
	}
}


/****************************************/
/*   RESPONSIVE FACEBOOK EMBEDS         */
/*   used on homepage, posts and pages  */

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
	margin: 0 auto;
	display: block !important;
}



/*********************************/
/*   IFRAMES FOR TIMELINEJS      */
/*   used on posts and pages     */
/*
.bbg__iframe__timelinejs {
	margin: {
		right: -$site-margins;
		left: -$site-margins;
	}
	max-width: none;
	width: 100%;
	width: calc(100% + 6rem);

	@include media($medium-large-screen) {
		margin: {
			right: auto;
			left: auto;
		}
		width: 100%;
	}
}
*/