.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.size-medium {
	width: 100%;

	@include media($small-screen) {
		width: 50%;
	}
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";