//Small profile photos or icons
//Used for staff profiles, team icons and comment gravatars(?)
.bbg__avatar__container {
	margin: 0 auto;
	max-width: $bbg__avatar-width;

	@include media($small-screen) {
		float: left;
		margin: 0 1rem .5rem 0;
		width: $bbg__team__icon-width;
	}

	@include media($medium-screen) {
		clear: left;
	}
}

.bbg__avatar__container--small {
	float: left;
	margin: 0 1rem .5rem 0;
	max-width: $bbg__avatar-width-small;

	@include media($medium-screen) {
		max-width: $bbg__avatar-width-small * 1.5;
	}
}

.bbg__avatar {
	border-radius: 50%;
	display: block;
	margin: 0 auto;

	@include media($small-screen) {
		height: 100%;
		width: 100%;
	}
}

//Styles for the team icons
.bbg__entity,
.bbg__team {
	margin-bottom: $site-margins;
}

.bbg__entity__name,
.bbg__team__name {
	clear: none;
	font-size: 3rem;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;

	@include media($small-screen) {
		text-align: left;
	}
}

.bbg__entity__name {
	line-height: 1.1;
	margin-bottom: 1rem;
	text-transform: none;
}

.bbg__entity__icon,
.bbg__team__icon {
	border-radius: 50%;
	height: $bbg__team__icon-width;
	margin: 0 auto 2.5rem;
	width: $bbg__team__icon-width;

	@include media($small-screen) {
		margin-bottom: 0;
	}
}

.bbg__entity__text,
.bbg__team__text {
	@include media($small-screen) {
		padding-left: $bbg__team__icon-width + 10px;
	}
}

.bbg__entity__icon__image,
.bbg__team__icon__image {
	@include backgroundCover;
	display: block;
	height: 100%;
	width: 100%;
}

.bbg__entity__text-description,
.bbg__team__text-description {
	clear: none;
	font-family: $font-sans;
	margin-top: 0;
	max-width: $article-max-width;
}

// Entities in the sidebar
.bbg__article-sidebar.large {
	@include media($medium-large-screen) {
		.bbg__entity__icon,
		.bbg__team__icon {
			height: $bbg__avatar-small;
			width: $bbg__avatar-small;
		}
		.bbg__entity__text,
		.bbg__team__text {
			padding-left: $bbg__avatar-small + 10px;
		}
		.bbg__entity__name,
		.bbg__team__name {
			font-size: 2.3rem;
		}
	}
}

.usa-intro.bbg__broadcasters__intro {
	margin-bottom: $site-margins;
}

// Author section on author archive page
.bbg__staff__author {
	margin-bottom: $site-margins;

	@include media($medium-screen) {
		margin-bottom: $site-margins-large;
	}
}

.bbg__staff__author__text {
	width: 100%;
}

.bbg__staff__author-name {
	clear: none;
	font-size: $h2-font-size;
	line-height: 1;
	margin: {
		top: 1rem;
		bottom: .1rem;
	}

	@include media($small-screen) {
		font-size: $h2-font-size;
		margin: {
			top: 0;
			bottom: .5rem;
		}
	}
}

.bbg__staff__author-occupation {
	font-weight: $font-light;
	text-transform: uppercase;

	@include media($small-screen) {
		padding-left: $bbg__avatar-width-small * 1.5 + 10px;
		text-align: left;
	}
}

.bbg__staff__author-contact {
	@include clearfix();
	font-weight: $font-light;
	margin-bottom: 1rem;

	@include media($medium-screen) {
		padding-left: $bbg__avatar-width-small * 1.5 + 10px;
	}
}

.bbg__staff__author-bio {
	@extend .readin;
	max-width: none;
}

.bbg__staff__roster .bbg__staff__author-bio {
	font-size: $read-in-font-size * .8;
	line-height: $base-line-height;
}


/* Individual author page */
.bbg__staff__author-name {
	clear: none;
	font-size: $h2-font-size * .8;
	line-height: 1;
	margin: {
		top: 1rem;
		bottom: .1rem;
	}
	text-align: center;

	@include media($small-screen) {
		font-size: $h2-font-size;
		margin: {
			top: 0;
			bottom: .5rem;
		}
		padding-left: $bbg__team__icon-width + 10px;
		text-align: left;
	}
}

.bbg__staff__author-occupation {
	font-weight: $font-light;
	margin-bottom: $site-margins-medium;
	text-align: center;
	text-transform: uppercase;

	@include media($small-screen) {
		padding-left: $bbg__team__icon-width + 10px;
		text-align: left;
	}
}

.bbg__staff__author-contact {
	font-weight: $font-light;
	margin-bottom: 0;
	text-align: center;

	@include media($small-screen) {
		padding-left: $bbg__team__icon-width + 10px;
		text-align: left;
	}
}

.bbg__staff__author-bio {
	font-family: $font-serif;
	line-height: 1.8;
	margin-top: 1rem;

	@include media($small-screen) {
		font-size: 1.8rem;
		font-weight: 300;
		margin: {
			top: 2rem;
			left: $bbg__team__icon-width + 10px;
		}
		max-width: $article-max-width;
	}
}