@media print {
	@page :first {
		margin-left: 2.5in;
	}

	@page {
		margin: 0.5in; // set page margins to 1/2 inch
		size: 8.5in 11in; // limit printing to 8.5x11 paper

		@bottom-right {
			content: "Page " counter(page); // add page counter on every page
		}
	}

	/**** UNIVERSAL ****/
	/* Page sections: header + content + footer */
	.bbg-header,
	.site-content,
	.usa-footer {
		max-width: 8in; // set max width
		margin: 0 auto; // set auto margins on left and right
	}

	article {
		margin: 0;
		padding: 0;

		a {
			font-weight: $font-bold;
			text-decoration: none;
   		}

		a[href^=http]:after { // expand external links
			color: $color-gray-medium;
			content: " Link: " attr(href) "> ";
			font-style: italic;
			font-weight: $font-normal;
			text-decoration: none;
		}

		a[href^="#"]:after { // don't expand anchor links
			content: "";
		}

		h1, h2, h3 {
			page-break-after: avoid;
		}
	}

	nav,
	button,
	.usa-button { // hide all extraneous elements
		display: none;
	}

	/**** GRIDS ****/
	.usa-grid {
		max-width: none; // remove all max width values
		padding: { // remove all padding for the grid
			right: 0 !important;
			left: 0 !important;
		}
	}

	.usa-grid-full {
		max-width: none; // remove all max width values
	}

	/**** MASTHEAD ****/
	.usa-disclaimer {
		display: none; // hide official US banner
	}

	/**** CONTENT ****/
	/* Article */
	.bbg__article {
		margin: 0 auto;
		max-width: 6in;

		* {
			max-width: none; // remove max width all from article content
		}

		// article featured image or video
		.bbg__featured-video, // featured videos
		.bbg__article-header__thumbnail--large, // featured image
		.bbg__article-header__banner, // homepage banner
		.bbg__article-header__banner--profile { // profile page template banner
			display: none;
		}

		// article header
		.bbg__article-header {

			.bbg__label { // move and rotate the section header to the left side of the page
				float: left;
				text-decoration: none;
				transform: matrix3d(0,-1,0,0,1.00,0,0,0,0,0,1,0,-50,400,0,1);
				transform-origin: left top 0px;

				a[href^=http]:after { // don't expand links for labels
					content: "";
				}
			}
		}

		// article main content
		.bbg__article-content {
			p,
			a,
			ul,
			li {
				font: {
					family: $font-serif; // Use Merriweather for serif
					size: 1.4rem; // resize all non-header content
				}
				line-height: 1.8;
			}

			// intro paragraph
			p:first-of-type {
				margin-bottom: 2rem;
			}

			// videos
			.bbg-embed-shell {
				display: none; // hide all

				&:after { // add text pointing users to view videos online
					background-color: $color-gray-lighter;
					content: "EMBEDDED VIDEO REMOVED: Please visit website to view";
					display: block;
					padding: 4rem;
				}
			}

			// inline images
			img.aligncenter,
			img.alignleft,
			img.alignright { // assign max with to floating images within content
				display: inline;
				float: left;
				margin: 0 1.5em 2rem 0;
				max-width: 30%;
			}

			.bbg__contact__card {
				p {
					margin-bottom: 0;

					&::first-line {
					    font-weight: $font-bold;
					}
				}

				.bbg__contact__card-list {
					display: inline;
				}

				.bbg__contact__icon {
					display: none;
				}
			}
		}

		// article sidebars and footer
		.bbg__article-footer, // hide article footer
		.bbg__article-sidebar--left { // hide the left sidebar with social media icons
			display: none;
		}

		.bbg__article-sidebar {
			p, a, ul, li {
				font-size: 1.3rem;
			}

			img {
				max-width: 20%;
			}

			.bbg__sidebar__primary-image {
				display: none;
			}
		}
	}

	/* Footer */
	.bbg__footer__return-to-top__container {
		display: none;
	}

	.usa-footer {
		.usa-social-links,
		.bbg__footer__sub,
		.usa-footer-logo {
			display: none;
		}

		.usa-footer-secondary_section {
			background-color: transparent;
			border-top: 1px solid $color-gray-lighter;
			padding: {
				top: 1rem;
				bottom: 0;
			}
		}
	}
}