@media print {
	/**** UNIVERSAL ****/
	article {
		width: 100%;
		margin: 0;
		padding: 0;

		a {
			font-weight: $font-bold;
			text-decoration: none;
   		}

		a[href^=http]:after { // expand external links
			content:" <" attr(href) "> ";
			font-style: italic;
		}

		a[href^="#"]:after { // don't expand anchor links
			content: "";
		}

		h1, h2, h3 {
			page-break-after: avoid;
		}
	}

	nav,
	button,
	.usa-button { // hide all extraneous elements
		display: none;
	}

	@page {
		margin: 0.25in;
	}

	/**** GRIDS ****/
	.usa-grid {
		padding: {
			right: 0 !important;
			left: 0 !important;
		}
	}

	/**** MASTHEAD ****/
	.usa-disclaimer { // official US banner
		display: none;
	}

	/**** CONTENT ****/
	/* Article */
	.bbg__article {
		margin-left: 3rem;

		&>* {
			margin: 0; // remove all margins from article content
			max-width: none; // remove max width of 600px from article content
		}
	}

	.bbg__featured-video, // featured videos
	.bbg__article-header__thumbnail--large, // featured image
	.bbg__article-header__banner, // homepage banner
	.bbg__article-header__banner--profile { // profile page template banner
		display: none;
	}

	// article header
	.bbg__article-header {
		margin: auto;

		.bbg__label { // move and rotate the section header to the left side of the page
			float: left;
			transform: rotate(270deg);
			transform-origin: 55% 440%;
		}
	}

	// article main content
	.bbg__article-content {
		p, a, ul, li {
			font: {
				family: $font-serif; // Use Merriweather for serif
				size: 1.3rem; // resize all non-header content
			}
		}

		.bbg-embed-shell { // hide all videos
			display: none;

			&:after { // add text pointing users to view videos online
				background-color: $color-gray-lighter;
				content: "EMBEDDED VIDEO REMOVED: Please visit website to view";
				display: block;
				padding: 4rem;
			}
		}

		img.alignleft,
		img.alignrigh { // assign max with to floating images within content
			margin-bottom: 2rem;
			width: 25%;
		}
	}

	// article sidebars
	.bbg__article-sidebar--left { // hide the left sidebar with social media icons
		display: none;
	}

	.bbg__article-sidebar {
		p, a, ul, li {
			font-size: 1.3rem;
		}

		.bbg__sidebar__primary-image {
			display: none;
		}
	}

	/* Footer */
	.bbg__footer__return-to-top__container {
		display: none;
	}

	.usa-footer {
		.usa-social-links,
		.bbg__footer__sub {
			display: none;
		}
		.usa-footer-logo-img {
			width: 5rem;
		}
	}
}