.bbg__article--no-featured-image {
	.bbg__profile-photo {
		margin: 0 auto;

		@include media($medium-screen) {
			margin: 0 $site-margins-small auto 0;
		}

		@include media($medium-large-screen) {
			margin: 0 $site-margins-small auto 0;
		}
	}
}


.bbg__profile-photo {
	margin: -60px auto 0;
	position: relative;
	width: 120px;
	z-index: 9999;

	@include media($medium-screen) {
		float: left;
		margin-right: $site-margins-small;
		width: 160px;
	}

	@include media($medium-large-screen) {
		margin-top: $profile-photo-margin-large;
		margin-right: 3%;
		min-height: 200px;
		width: 20%;
	}


	.bbg__profile-photo__image {
		background-color: #FFF;
		border: 5px solid #FFF;
		max-width: 100%;
	}
}



.bbg__profile-title {
	text-align: center;

	h1, h5 {
		margin: 0;
		text-align: center;
	}

	@include media($medium-screen) {
		margin: 20px 0 auto auto;
		max-width: 77%;
		text-align: left;

		h1, h5 {
			clear: none;
			text-align: left;
		}

	}
}


.bbg__profile__related-link__list {
	@include unstyled-list;
	margin-bottom: $site-margins-medium;

	.bbg__profile__related-link {
		margin-bottom: $site-margins;
	}

	&.rtl {
		direction: rtl;
	}
}


.bbg__contact-label{
	display: inline;
	margin-right: $site-margins-small;

	@include media($medium-large-screen) {
		display: block;
	}
}

.bbg__contact-label:after{
	@include media($medium-screen) {
		content: ": ";
	}
	@include media($medium-large-screen) {
		content: "";
	}
}

.page-template-default,
.page-template-page-entity,
.bbg__profile,
.category-profile,
.category-board-meeting {
	.bbg__profile-header__banner {
		background: {
			size: cover;
			position: center center; //default positioning, maybe be set in post.
		}
		height: 250px;
		margin-bottom: 0;
		width: 100%;

		@include media($medium-large-screen) {
			height: 400px;
		}
	}

	.bbg__article-header {
		@include clearfix();
		margin-bottom: $site-margins;
	}

	.bbg__article-sidebar {
		margin: 0 auto;
		max-width: 600px;
	}

	.bbg__article-sidebar__list--labeled {
		@include unstyled-list;

		margin-bottom: $site-margins;

		li {
			margin-bottom: 1rem;
		}

		.bbg__article-sidebar__list-label {
			font-weight: bold;
		}
	}



	@include media($medium-large-screen) {

		.bbg__article-content{
			float: left;
			margin: {
				top: 0;
				right: auto;
				bottom: 3rem;
				left: auto;
			}
			width: 56%;

			&.bbg__article--no-featured-image{
				margin-top: $profile-photo-margin-large;
			}

			p {
				font-family: $font-serif;
			}
		}


		.bbg__article-sidebar {
			float: right;
			max-width: 17rem;
			width: 18%;
		}

	}

	.bbg__article-sidebar--left {
		margin: 0 auto;
		max-width: 600px;

		@include media($medium-large-screen) {
			display: inline-block;
			float: left;
			margin-top: 0;
			margin-right: 3rem;
			width: 20%;
		}
	}

	.bbg__contact-card {
		background-color: $color-gray-lightest;
		border-radius: $border-radius;
		margin-bottom: $site-margins;
		padding: $site-margins-medium;

		p, a, ul, li {
			font-family: $font-sans;
		}
	}

}


.category-board-meeting {
	.bbg__article-header {
		margin-bottom: 0;
	}

	.bbg-tagline.bbg-tagline--main {
		display: none;
	}
	.bbg-tagline.bbg-tagline--secondary {
		display: block;
	}

	@include media($medium-large-screen) {
		.bbg-tagline.bbg-tagline--main {
			display: block;
		}
		.bbg-tagline.bbg-tagline--secondary {
			display: none;
		}
	}
}

.bbg__profile-excerpt {
	@include clearfix();
	margin-bottom: $site-margins;
}

.bbg__profile-excerpt__photo-container {
	float: left;
	margin: {
		top: $site-margins-small;
		right: $site-margins-small;
	}
	max-width: 150px;
	width: 30%;
}

.bbg__former-member {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.bbg__profile-excerpt__text {
	line-height: 1.5;
}

.bbg__profile-excerpt__occupation {
	color: $color-gray-medium;
	display: block;
	font: {
		family: $font-serif;
		style: italic;
	}
	margin-bottom: $site-margins-small;
}



.page-template-page-board .content-area .usa-grid > p:first-of-type {
	@extend .readin;
}