/**
 * CH01 - BASIC TYPOGRAPHY
 * CH02 - SITE TITLE AND HEADER
 * CH03 - 2- and 3-COLUMN PAGE STRUCTURE
 * CH04 - FOOTER STYLES
 * CH05 - EXCERPT STYLES
 * CH06 - SITEWIDE ALERT STYLES
 * CH07 - Misc post/page styles
**/


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-sans;
	margin-top: .5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-primary-darkest;
}

h1 a,
h2 a,
h3 a,
h4 a {
	color: $color-primary-darker;
}

a {
	&:focus {
		background-color: $color-gray-cool-light;

		img,
		*[class*="avatar"],
		*[class*="icon"],
		*[class*="image"],
		*[class*="photo"],
		*[class*="thumbnail"],
		*[style*="background-image"] {
			background-color: transparent;
			text-decoration: none;

			> a:hover,
			> a:focus  { // removes background color and underline for linked images
				background-color: transparent;
				text-decoration: none;
			}
		}
	}
}

// add class for right-angle quotes after links
.bbg__links--right-angle-quote {
	font-size: calc(100% * 1.3);
}

p {
	font-family: $font-serif;
}

img,
*[class*="avatar"],
*[class*="icon"],
*[class*="image"],
*[class*="photo"],
*[class*="thumbnail"],
*[style*="background-image"] {
	> a:hover,
	> a:focus  { // removes background color and underline for linked images
		background-color: transparent;
		text-decoration: none;
	}
}

.usa-font-lead {
	color: #000;
}

.usa-disclaimer {
	text-align: center;
	@include media($large-screen) {
		text-align: left;
	}
}

.bbg-label {
	background-color: $color-secondary-darkest;
	color: #FFF;
	display: inline-block;
	font: {
		family: $font-sans;
		size: 1.7rem;
		weight: bold;
	}
	margin: {
		top: 0;
		bottom: $site-margins-small;
	}
	padding: .5rem $site-margins-small;
	text-transform: uppercase;

	a {
		color: #FFF;
	}

	&--mobile {
		background-color: transparent;
		color: $color-secondary-darkest;
		display: block;
		font: {
			size: 2.5rem;
			weight: $font-bold;
		}
		margin-bottom: $site-margins-medium;
		padding: 0;

		a {
			color: $color-secondary-darkest;
		}
	}

	@include media($small-screen) {
		background-color: transparent;
		color: $color-secondary-darkest;
		display: block;
		font-size: 2.5rem;
		padding: 0;

		&--mobile {
			font-size: 3rem;
		}

		a {
			color: $color-secondary-darkest;
		}
	}

	&--mobile.small,
	&.small {
		font-size: 1.3rem;

		@include media($small-screen) {
			font-size: 2rem;
		}
	}

	&--mobile.large,
	&.large {
		margin: {
			//top: $site-margins;
			bottom: 0;
		}

		@include media($small-screen) {
			font-size: 3rem;
			margin-bottom: $site-margins-medium;
		}
	}

	&--mobile.large {
		margin-bottom: $site-margins-small;
	}
}

section.usa-section {
	margin-bottom: $site-margins-large;
}

article {
	margin-bottom: $site-margins;

	@include media($medium-screen) {
		margin-bottom: 0;
	}

	&.bbg-grid--1-2-3 {
		@include media($medium-screen) {
			margin-bottom: $site-margins;
		}
	}
}


/******************************/
/* SITE TITLE AND HEADER      */
/* used on all internal pages */

.bbg-header__container {
	@include clearfix();
	margin-bottom: $site-margins;
	padding-right: $site-margins-large; // bump down at small widths so it doesn't hit the navigation dropdown button

	&:focus {
		background: none;
	}
}

.bbg-header__container--home {
	@extend .bbg-header__container;
	margin-bottom: 0;
}


.bbg-header__link {
	padding: 0;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		background: none;
	}
}

.bbg-header__logo {
	float: left;
	height: $site-title-font-size * 1.3;
	margin-right: 1rem;
	@include media($small-screen) {
		height: $site-title-font-size * 1.75;
	}
	@include media($medium-screen) {
		height: $site-title-font-size * 2.2;
	}
	@include media($medium-large-screen) {
		height: $site-title-font-size * 1.2;
	}
}

.bbg-header__site-title {
	clear: none;
	display: inline-block;
	font: {
		family: $font-sans !important;
		size: $site-title-font-size /2;
	}
	line-height: 1;
	margin: 0;
	padding-top: .5rem;

	@include media($small-screen) {
		font-size: $site-title-font-size /1.5;
		padding-top: $site-margins-small;
	}

	@include media($medium-screen) {
		font-size: $site-title-font-size;
		padding-top: .2rem;
	}
}

.bbg-header__site-title--breakline {
	display: block;
	@include media($medium-large-screen) {
		display: inline-block;
	}
}







/***************************************************/
/*    2- and 3-COLUMN PAGE STRUCTURE               */
/*    3-column: used on most posts and many pages  */
/*    2-column: used on expanded profiles e.g. CEO */


.bbg__article-header {
	@include clearfix();
	margin-bottom: $site-margins;
}

.bbg__article-header__banner {
	background: {
		size: cover;
		position: center center; //default positioning, maybe be set in post.
	}
	height: 250px;
	width: 100%;

	@include media($medium-large-screen) {
		height: 400px;
	}
}

.bbg__article-header__banner--profile {
	@extend .bbg__article-header__banner;
	margin-bottom: 0;
}


.bbg__article-sidebar {
	margin: 0 auto;
	max-width: 600px;
}

.bbg__article-sidebar__list--labeled {
	@include unstyled-list;

	margin-bottom: $site-margins;

	li {
		margin-bottom: 1rem;
	}

	.bbg__article-sidebar__list-label {
		font-weight: bold;
	}
}


@include media($medium-large-screen) {

	.bbg__article-content{
		float: left;
		margin: {
			top: 0;
			right: auto;
			bottom: 3rem;
			left: auto;
		}
		width: 56%;

		&.large{
			border-right: $border-dotted;
			margin-left: 0;
			padding-right: 2%;
			width: 65%;

			>* {
				max-width: none;
			}

			p {
				margin: {
					right: 0;
					left: 0;
				}
			}

			.bbg__profile__content p:first-of-type {
				font: {
					size: 1.7rem;
					weight: 100;
				};
				line-height: 2.5;
				margin-bottom: $site-margins;
			}
		}
	}


	.bbg__article-sidebar {
		float: right;
		font-family: $font-sans;
		max-width: 17rem;
		width: 18%;

		&.large{
			max-width: none;
			width: 33%;
		}
	}

}

.bbg__article-sidebar--left {
	border-bottom: $border-solid;
	margin: 0 auto 3rem auto;
	max-width: 600px;
	padding-bottom: $site-margins;

	&.bbg__article-sidebar--collapse {
		height: 0;
		line-height: 0;
		padding: 0;
	}

	@include media($medium-large-screen) {
		border-bottom: none;
		display: inline-block;
		float: left;
		margin-top: 0;
		margin-right: $site-margins;
		width: 20%;
	}
}






/***************************************/
/*    FOOTER STYLES                    */
/*                                     */

.bbg-footer {
	position: relative;
	z-index: 9999;
}

.bbg-footer-big-top {
	padding: 0 $site-margins;
}

.bbg-continue {
	a {
		font: {
			family: $font-sans;
			weight: 700;
		}
		text-transform: uppercase;
		font-size: .9em;
	}
}

.bbg-footer__search {
	@extend .usa-sign_up-block;
	padding: 2rem $site-margins;

	@include media($medium-screen) {
		padding: {
			top: $site-margins * 1.8;
			right: 0;
			bottom: 2rem;
			left: 0;
		}
	}
}

.bbg-footer__return-to-top__container {
	text-align: right;
	margin: {
		top: $site-margins;
		right: auto;
		left: auto;
	}
}

.bbg-footer__return-to-top {
	border: 1px solid #CCC;
	border-bottom: none;
	border-radius: $border-radius $border-radius 0 0;
	display: inline-block;
	padding: 0;

	a {
		display: block;
		padding: $site-margins-medium 2rem;
	}
}



/****************************************/
/*    EXCERPT STYLES                    */
/*    Used on home page, landing pages, */
/*    profiles and entity pages         */

.bbg__excerpt-meta {
	font: {
		family: $font-serif;
		size: 1.4rem;
		style: italic;
	}
	a {
		text-decoration: underline;
	}
}

.bbg__excerpt-meta--featured {
	margin-bottom: $site-margins-medium;
}

.bbg-blog__excerpt--featured {
	margin-bottom: $site-margins-medium;
}

.bbg-blog__excerpt {
	@include media($medium-screen) {
		margin-bottom: $site-margins;
	}
}

.bbg-blog__excerpt-title--featured {
	margin: {
		top: $site-margins-medium;
		bottom: $site-margins-small;
	}

	@include media($medium-screen) {
		font-size: $h1-font-size;
	}

	@include media($medium-large-screen) {
		font-size: $h1-font-size * 1.25;
	}
}

.bbg__excerpt-header__thumbnail--large {
	background-color: $color-gray-lightest;
	img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

.bbg-portfolio__excerpt-title {
	margin: {
		top: $site-margins-small;
		bottom: .75rem;
	}
}

.bbg-portfolio__excerpt-content > p {
	margin-top: 0;
}

.bbg__excerpt-header__thumbnail--medium a {
	display: block;
	line-height: 0;
}

.bbg-blog__excerpt--list {
	@include clearfix();
	margin-bottom: $site-margins * .8;

	@include media($small-screen) {
		margin-bottom: $site-margins;
	}
}

.bbg-blog__excerpt-title--list {
	clear: none;
}

.bbg__excerpt-header__thumbnail--small {
	display: block;
	float: left;
	margin-right: $site-margins-medium;
	max-width: $thumbnail-small-max-width;
	width: 50%;
}

.bbg-blog__excerpt-content p{
	font-family: $font-sans;
}

.secondary-stories .bbg-blog__excerpt-title--list {
	@include media($medium-screen) {
		font-size: $h3-font-size * 1.5;
	}
}

.tertiary-stories {
	@include media($medium-large-screen) {
		border-left: $border-dotted;
		padding-left: 3%;
	}

	.bbg-blog__excerpt-title--list {
		font-size: $h3-font-size * .9;
		font-weight: 500;
		@include media($medium-screen) {
			font-size: $h3-font-size;
		}
	}

	.bbg-blog__excerpt--list {
		margin-bottom: $site-margins-small;
		@include media($medium-screen) {
			margin-bottom: 2rem;
		}
	}

	.bbg-blog__excerpt--list:last-of-type {
		margin-bottom: 0;
	}
}




/*******************************************/
/*    SITEWIDE ALERT STYLES                */
/*    Used for breaking news alerts        */
/*    and live events like board meetings  */

.bbg__site-alert {
	background-color: $color-gray-dark;
	max-width: none;
	padding: .5rem $site-margins;
	width: 100%;
	z-index: 9999;


	.bbg__site-alert__text {
		color: $color-gray-lightest;
		display: block;
		font: {
			size: 1.4rem;
			weight: 100;
		}
		margin: 0 auto;
		max-width: $site-max-width;
		text-align: center;

		a {
			color: $color-primary-alt-light;
		}
	}

	@include media($medium-screen) {
		border-bottom: 1px solid #000;
		position: fixed;
			top: 0;

		.bbg__site-alert__text {
			font: {
				size: 2rem;
				weight: 300;
			}
		}
	}
}

.bbg__site-alert--active {
	@include media($medium-screen) {
		margin-top: 3.2rem;
	}
}




/******************************/
/*   FEATURED QUOTATIONS      */
/*   used on the homepage     */
/*   and on the entity pages  */

.bbg__quotation {
	@include media($small-screen) {
		text-align: center;
	}

	.bbg__quotation-text--large {
		font-size: 2.5rem;
		font-weight: 100;

		@include media($medium-screen) {
			font-size: 3rem;
		}
	}


	.bbg__quotation-attribution__mugshot {
		//border-radius: $border-radius;
		border-radius: 50%;
		height: auto;
		margin-right: $site-margins-small;
		min-width: 50px;
		width: 50px;
		display: table-cell;

		@include media($medium-large-screen) {
			min-width: 75px;
			width: 75px;
		}
	}

	.bbg__quotation-attribution__container {
		display: inline;
		margin: 0 auto;
	}
	.bbg__quotation-attribution {
		font-family: $font-sans;
		margin-top: $site-margins-medium;
		display: table-row;

		@include media($medium-large-screen) {
			margin: {
				right: auto;
				left: auto;
			};
			max-width: 33%;
		}
	}

	.bbg__quotation-attribution__text {
		display: table-cell;
		max-width: 200px;
		text-align: left;
		vertical-align: middle;

		.bbg__quotation-attribution__name {
			display: block;
			font-size: 1.9rem;
		}

		.bbg__quotation-attribution__credit {
			display: block;
			font-size: 1.3rem;
			line-height: 1.5;
			text-transform: uppercase;
		}
	}


	//Quotes inside the 3-column grid on the homepage.
	&.bbg-grid--1-3-3 {
		background-color: $color-gray-lightest;
		border-radius: $border-radius;
		margin-bottom: $site-margins-medium;
		padding: 2rem;

		.bbg__quotation-text--large {
			font-weight: 500;
			text-align: left;
		}

		@include media($medium-screen) {
			.bbg__quotation-text--large {
				font-size: 1.8rem;
				font-weight: 100;
			}

			.bbg__quotation-attribution__text {
				.bbg__quotation-attribution__name {
					font-size: 1.6rem;
				}

				.bbg__quotation-attribution__credit {
					font-size: 1.2rem;
				}
			}
		}

		@include media($medium-large-screen) {
			.bbg__quotation-text--large {
				font-size: 2.5rem;
				font-weight: 100;
			}

			.bbg__quotation-attribution__text {
				.bbg__quotation-attribution__name {
					font-size: 1.9rem;
				}

				.bbg__quotation-attribution__credit {
					font-size: 1.3rem;
				}
			}
		}

	}
}

.bbg__entity__pullquote {
	margin-top: $site-margins-large;
}





/****************************************************/
/* PAGE HEADER STYLES                               */
/* We used these on innovation.bbg.gov              */
/* We currently only using them on the author pages */

.bbg-page__header {
	border: {
		top: $border-solid;
		bottom: $border-solid;
	}
	margin: 0 0 $site-margins 0;
	padding: $site-margins;
}

.bbg-page__header-text {
	clear: none;
	max-width: $article-max-width;
}

.bbg-page__header-title {
	clear: none;
	margin-bottom: 0;
}

.bbg-page__header-description {
	@extend .readin;
	clear: none;
	margin: {
		top: $site-margins-small;
		bottom: 0;
	};
	max-width: $article-max-width;
}




/***************************************/
/*    Misc post/page styles            */
/*                                     */







.bbg__contact-card {
	background-color: $color-gray-lightest;
	border-radius: $border-radius;
	margin: {
		top: $site-margins;
		bottom: $site-margins;
	}
	padding: $site-margins;
	position: relative;

	p, a, ul, li {
		font-family: $font-sans;
	}

	&.bbg__contact-card--include-map {
		padding: 0;

		.bbg__contact-card__text {
			padding: $site-margins-medium;
			width: 100%;

			@include media($medium-screen) {
				margin: {
					right: 0;
					left: auto;
				}
				width: 50%;
			}
		}

		.bbg__contact-card__map {
			background-color: #999;
			background-position: center;
			background-size: cover;

			height: 200px;
			width: 100%;

			@include media($medium-screen) {
				height: 100%;
				position: absolute;
				width: 50%;
			}
		}
	}
}



.bbg__entity-logo__press-release {
	float: right;
	max-width: 80px;

	@include media($medium-large-screen) {
		float: none;
		margin-bottom: $site-margins;
		max-width: 100%;
		width: 100%;
	}
}


.bbg__award-excerpt__title {
	margin-bottom: 3px;
}

.bbg__award-excerpt__source {
	color: $color-gray-medium;
	font-family: $font-sans;
	margin: {
		top: 0;
		bottom: $site-margins-small;
	}
}

/* Used on the jobs page? */
.usa-width-one-third.bbg__sidebar,
.usa-width-one-third.bbg__sidebar p {
	font-family: $font-sans;
}


//Fixing spacing on accordions
.bbg__committee-list + .bbg__committee-list {
	margin-top: 0;
}

// Board committees
.bbg__board__committee-list {
	@include unstyled-list;

	li {
		margin-bottom: $site-margins-medium;

		a {
			@extend h4;
		}
	}
}

