/** ---------------
 * TABLES
 ------------------ */
.type-post .usa-table,
.type-post .usa-table-borderless {
	margin: 0 auto $site-margins auto;
	min-width: auto;
	max-width: $article-max-width;
	width: 100%;

	&.bbg-full-width {
		min-width: 100%;
		max-width: auto;
	}
}

.usa-table,
.usa-table-borderless,
.bbg__table-plain {
	font-size: $small-font-size;

	@include media($small-screen) {
		font-size: $base-font-size;
	}
}

.bbg__table-plain {
	display: block;
	margin: 0 auto;
	min-width: auto;
	max-width: $article-max-width;
	width: 100%;

	th,
	td {
		border: none;
		padding: 0 $site-margins-medium;
	}
}

.bbg__table__money {
	thead th {
		text-align: center;
	}

	th {
		text-align: left;
	}

	td{
		text-align: right;
	}

	td,
	th {
		padding: 1rem .5rem; 
	}

	@include media($small-screen) {
		td,
		th {
			padding: 1rem; 
		}
	}

	@include media($medium-screen) {
		td,
		th {
			padding: 1.5rem; 
		}
	}

	.bbg__table__row__total th,
	.bbg__table__row__total td {
		background-color: #F1F1F1;
		border-top: 1px solid #CCC;
		font-weight: bold;
	}
}

.bbg__table__caption {
	margin-bottom: 0;
}


/** ---------------
 * FORMS
 ------------------ */
.bbg__article__form {
	display: none;

	.bbg__article__form-select--sub {
		display: none;
	}
}

.usa-fieldset-inputs .bbg__article__form-radio__label,
.bbg__article__form-select--main label {
	color: $color-gray-medium;
	font-size: 80%;
	margin: {
		top: $site-margins;
		bottom: $site-margins-small;
	}
	text-transform: uppercase;
}

.bbg__article__form--inline {
	@extend .bbg__table-plain;

	fieldset {
		display: table-row;
	}

	legend {
		display: table-caption;
	}

	div {
		display: table-cell;
		padding: {
			right: $site-margins-large;
		}
	}
}



