/*****************************/
// top nav menu
.menu-all-pages-container {
	margin: 0 auto;
	max-width: $site-max-width;
	position: relative;
}

body:not(.home) .menu-all-pages-container {
	@include media($medium-screen) {
		min-height: 5rem;
	}
}


.main-navigation {
	clear: both;
	display: inline;
	width: 100%;

	ul {
		@include unstyled-list;
		display: none;

		ul {
			width: 100%;
			z-index: 99999;

			li {
				border-top: $border-dotted;
				border-bottom: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				a {
					padding-left: 4rem;
				}

				a:before {
					content: "";
				}
			}
		}
	}
	li {
		border-bottom: $border-dotted;
		display: block;
		margin: 0;
		text-transform: uppercase;

		&:hover > a,
		&.focus > a {
		}
	}
	li:before {
		content: none;
	}
	li:after {
		display: none;
	}
	a {
		display: block;
		padding: 1rem $site-margins;
		text-decoration: none;
	}
	a:hover {
		background-color: $color-light-gray;
	}
	a:focus {
		box-shadow: none;
		margin: 0;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle{
	background: {
		image: url(img/menu.png);
		position: center center;
		repeat: no-repeat;
		size: 20px;
	}

	border-radius: 0 0 $border-radius $border-radius;
	margin-top: 0;
	min-height: 4.5rem;
	min-width: 4.5rem;
	padding-right: 0;
	position: absolute;
	width: auto;

	@include media($small-screen) {
		background-position: 10px center;
		padding: {
			left: 3.5rem;
			right: 1.5rem;
		}
	}
}

.menu-toggle-label {
	display: none;

	@include media($small-screen) {
		display: block;
	}
}


.menu-toggle {
	display: block;
	right: 0;
	z-index: 9998;
}

.main-navigation.toggled ul {
	display: block;
	z-index: 9998;
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		//overflow: hidden;//Disabling this because of post nav on portfolio page. 
	}

	.nav-previous {
		float: left;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-previous.png');
				image: url('img/arrow-previous.svg');
				position: left top;
				repeat: no-repeat;
				size: contain;
			}
			padding-left: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-previous-hover.png');
				image: url('img/arrow-previous-hover.svg');
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-next.png');
				image: url('img/arrow-next.svg');
				position: right top;
				repeat: no-repeat;
				size: contain;
			}
			padding-right: 25px;
		}


		a:hover {
			background: {
				image: url('img/arrow-next-hover.png');
				image: url('img/arrow-next-hover.svg');
			}
		}
	}
}




/** POST AUTHOR Previous/next links on project posts */
.bbg__article__nav {
	display: block;
	margin: 0 auto;
	pointer-events: none;
	position: fixed;
		bottom: 100px;
	text-align: center;
	width: 100%;
	z-index: 1;


	.bbg__article__nav-link {
		height: 45px;
		pointer-events: initial;
		width: 30px;

		@include media($medium-large-screen) {
			width: 60px;
			height: 90px;
		}
	}

	.bbg__article__nav-icon {
		display: block;
		height: 100%;
		padding: 0;
		width: 100%;

		&.left-arrow{
			background: {
				position: left top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_left.png);
			}
		}

		&.right-arrow{
			background: {
				position: right top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_right.png);
			}
		}

	}

	.bbg__article__nav-text {
		display: none;
	}

	.bbg__article__nav-previous {
		float: left;
	}

	.bbg__article__nav-next {
		float: right;
	}
}

.menu-item-has-children > a {
	border-left: $border-dotted;
	display:inline-block !important;
	padding-left: 1rem;
	width: 90%;
}
.main-navigation.toggled ul.sub-menu {
	display:none;
} 
.navToggler {
	background: {
		image: url('img/arrow-down.png');
		image: url('img/arrow-down.svg');
		position: 1rem center;
		repeat: no-repeat;
		size: 1.3rem;
	}
	display: inline-block !important;
	height: 2rem;
	padding-right: site-margins / 2;
	padding-left: $site-margins;
	width: 5%;
}



@include media($medium-large-screen) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		position: absolute;
		right: 0;
		z-index: 9998;

		/* drop down navigation */
		ul {
			position: absolute;
			right: auto;

			li {
				border-top: $border-dotted;
				border-left: $border-solid;
				float: none;
				padding-left: 0;

				a {
					padding-left: $site-margins / 2;
				}

				a:before {
					content: "";
				}

			}
			li:first-of-type {
				border-radius: 0px;
			}
			li:last-of-type {
				border-bottom: $border-solid;
				border-radius: 0 0 $border-radius $border-radius;
			}

		}
	}

	.main-navigation {
		li {
			background-color: #FFF;
			border-bottom: $border-solid;
			border-right: $border-solid;
			float: left;
			margin: 0;
			padding: 0;
		}

		.menu-item-has-children.hidden > a {
			background: {
				//image: url('img/arrow-right.png');
				//image: url('img/arrow-right.svg');
			}
		}

		.menu-item-has-children > a {
			background: {
				//image: url('img/arrow-down.png');
				//image: url('img/arrow-down.svg');
				position: 1rem center;
				repeat: no-repeat;
				size: 1.3rem;
			}

			padding-right: site-margins / 2;
			padding-left: 1rem;
			width: auto;
		}

		.showChildren {
			left: auto !important;
			display: block !important;
		}

		.menu-item-has-children > ul {
			display: none;
		}

		li:first-of-type {
			border-left: $border-dotted;
		}

		li:first-of-type,
		li:first-of-type a:hover,
		li:first-of-type a:focus{
			border-radius: 0 0 0 $border-radius;
		}

		li:after {
			display: none;
		}

		a {
			padding: 1rem 1.5rem .5rem 1.5rem;
		}
	}


	.navToggler {
		background: {
			image: url('img/arrow-down.png');
			image: url('img/arrow-down.svg');
			position: 1rem center;
			repeat: no-repeat;
			size: 1.3rem;
		}
		display: inline !important;
		height: 1rem;
		width: 5rem;
	}

}
