/*****************************/
// top nav menu
.bbg__main-navigation {
	clear: both;
	display: block;
	width: 100%;
	padding: 0.5em 0;

	.menu-all-pages-container {
		margin: 0 auto;
		max-width: $site-max-width;
		position: relative;
		width: 100%;
	}

	ul {
		@include unstyled-list;
		border-top:1px solid #F1F1F1;
		display: none;

		ul {
			width: 100%;
			z-index: 99999;

			li {
				border-top: $border-dotted;
				border-bottom: none;
				text-transform: none;

				&:hover > ul,
				&.focus > ul {left: 100%;}

				a {padding-left: 6rem;}
				a:before {content: "";}
			}
		}
		li {
			border-bottom: $border-dotted;
			display: block;
			margin: 0;
			text-transform: uppercase;
		}
		li:before {content: none;}
		li:after {display: none;}
		a {
			display: block;
			padding: 1rem 0;
			text-decoration: none;
		}
		a:hover {background-color: $color-light-gray;}
		a:focus {
			box-shadow: none;
			margin: 0;
		}

		.bbg__top-nav__link-text {width: calc(100% - 5rem);}
	}

	.bbg__main-navigation__search {
		padding: $site-margins-medium;
		button {
			background-color: $color-usim-blue-royal;
			border: 0;
		}
	}
}

body:not(.home) {
	.bbg__main-navigation {
		margin-bottom: $site-margins-medium;
	}
}

// HAMBURGER MENU
.menu-toggle {
	top: 3.25em;
	right: 0;
	z-index: 9998;
	border-radius: $border-radius;
	margin-top: 0;
	min-height: 4.5rem;
	min-width: 4.5rem;
	padding-right: 0;
	position: absolute;
	width: auto;
	background: {
		image: url(img/menu.png);
		position: center center;
		repeat: no-repeat;
		size: 20px;
	}
	&:active {background-color: #ff00ff; border-bottom: 1px solid #c9c4ba;}
	&:hover {border-bottom: 1px solid #c9c4ba;}
	&:focus {background-color: transparent;}
	.menu-toggle-label {display: none;}
}

.bbg__main-navigation.toggled ul {
	box-shadow: inset 0 -3px 3px $color-gray-lightest;
	display: block;
	z-index: 9998;
}

.bbg__main-navigation .bbg__main-navigation__search {display:none;}
.bbg__main-navigation.toggled .bbg__main-navigation__search {display:block;}

 
.menu-item-has-children .bbg__main-navigation__toggler {
	border: 0;
}

.menu-item-has-children > a {
	display:inline-block !important;
	padding-left: 1rem;
}

.menu-item-has-children > a.bbg__main-navigation__link-text {
        width: calc(100% - 5rem);
}

.bbg__main-navigation.toggled ul.sub-menu {
        display:none;
}
.bbg__main-navigation__toggler {
        background: none;
        background-color: transparent;

        cursor: pointer;
        display: inline-block !important;
        height: 4.7rem;
        margin: 0;
        padding: 1.5rem;
        vertical-align: top;
        width: 5rem;

        &:hover {background-color: transparent;}
        &:focus {background-color: $color-cool-blue-lightest; }
}




.bbg__navigation__pagination {
	@include clearfix();
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		//overflow: hidden;//Disabling this because of post nav on portfolio page. 
	}

	.nav-previous {
		float: left;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-previous.png');
				image: url('img/arrow-previous.svg');
				position: left top;
				repeat: no-repeat;
				size: contain;
			}
			padding-left: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-previous-hover.png');
				image: url('img/arrow-previous-hover.svg');
			}
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		a {
			background: {
				image: url('img/arrow-next.png');
				image: url('img/arrow-next.svg');
				position: right top;
				repeat: no-repeat;
				size: contain;
			}
			padding-right: 25px;
		}

		a:hover {
			background: {
				image: url('img/arrow-next-hover.png');
				image: url('img/arrow-next-hover.svg');
			}
		}
	}
}

/** POST AUTHOR Previous/next links on project posts */
.bbg__article__nav {
	display: block;
	margin: 0 auto;
	pointer-events: none;
	position: fixed;
	bottom: 100px;
	text-align: center;
	width: 100%;
	z-index: 1;

	.bbg__article__nav-link {
		height: 45px;
		pointer-events: initial;
		width: 30px;
	}

	.bbg__article__nav-icon {
		display: block;
		height: 100%;
		padding: 0;
		width: 100%;

		&.left-arrow{
			background: {
				position: left top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_left.png);
			}
		}

		&.right-arrow{
			background: {
				position: right top;
				repeat: no-repeat;
				size: contain;
				image: url(img/arrow_right.png);
			}
		}
	}

	.bbg__article__nav-text {display: none;}
	.bbg__article__nav-previous {float: left;}
	.bbg__article__nav-next {float: right;}
}

// SMALL SCREEN MEDIA QUERY
@include media($small-screen) {
	.menu-toggle {
		background-position: 10px center;
		padding: {
			left: 3.5rem;
			right: 1.5rem;
		}
		.menu-toggle-label {
			display: block;
			color: #c9c4ba;
		}
	}
}

// MEDIUM-LARGE SCREEN MEDIA QUERY
@include media($medium-large-screen) {
	.bbg-header__container__box {
		border-bottom: 1px solid #CCC;
		width: 100%;
	}
	.menu-toggle {display: none;}
	
	.bbg__main-navigation ul {
		border-top: none;
		display: block;
		right: 0;
		z-index: 9998;

		/* drop down navigation */
		li.menu-item-has-children:last-of-type {border-right: 0;}
		li.menu-item-has-children:last-of-type > .sub-menu {right: 0;}
		li.menu-item-has-children ul.sub-menu {
			border: 0;
			li {
				border-left: 0;
				border-right: 0;
				border-top: 0;
				border-bottom: 1px dotted #CCC
			}
		}

		ul {
			position: absolute;
			right: auto;
			width: auto;

			li {
				border-top: $border-dotted;
				border-left: $border-solid;
				float: none;
				padding-left: 0;

				a {
					padding-left: 2.2rem;
					padding-right: 2.2rem;
				}

				a:before {content: "";}

			}
			
			li:first-of-type {border-radius: 0px;}
			li:last-of-type {
				border-bottom: $border-solid;
				border-radius: 0 0 $border-radius $border-radius;
			}
		}
	}

	.bbg__main-navigation {
		padding-right: 0;
		ul li {border-bottom: 0;}
		ul .bbg__top-nav__link-text {width: auto;}
		.sub-menu li:hover {background-color: $color-gray-lightest;}

		ul a:hover {
			color: $color-usim-blue;
			text-decoration: none;
			background-color: transparent;
		}

		.menu-all-pages-container {
			position: absolute;
			top: 4.75em;
			right: 0.5em;

			ul.nav-menu {float: right;}
		}
		.menu-all-pages-container {width: auto}

		li {
			background-color: #FFF;
			border-bottom: $border-solid;
			border-right: $border-solid;
			font-size: 14px;
			float: left;
			margin: 0;
			padding: 0;
		}
		.menu-item-has-children > input {border: 0;}
		.menu-item-has-children > a {
			background: {
				position: center;
				repeat: no-repeat;
				size: 1.3rem;
			}
			border-left: none;
			padding-right: 1em;
			padding-left: 2px;
			width: auto;
		}

		.showChildren {
			left: auto !important;
			display: block !important;
		}

		.menu-item-has-children > ul {display: none;}
		
		li:after {display: none;}

		a {padding: 1.5rem 1.5rem 1rem 1.5rem;}
		a:hover {
			background-color: transparent;
			text-decoration: underline;
		}
		.bbg-header__link {
			// padding: 0 0 0 0.25em;
			display: inline-block;
			z-index: 10000;
		}
	}

	.bbg__main-navigation__toggler {
		background: none;
		background-color: transparent;
		display: inline-block !important;
		padding: 1.25rem .5rem 1.5rem 1rem;
		height: 3.8rem;
		vertical-align: bottom;
		width: auto;
	}

	.bbg__main-navigation__search {
		display: block !important;
		position: absolute;
		top: 4.2em;
		right: -0.5em;
		border: none;
		display: block;
		padding: 0;
		width: 200px;
		// width: calc(100% - 743px); //740px is the width of the nav.
		z-index: 9999;

		button {
			background-color: $color-cool-blue-lighter;
			border-color: transparent;
		}
	}

	body:not(.home) {
		.bbg__main-navigation__search {
			margin: 0;
		}
	}

	.bbg__article__nav {
		.bbg__article__nav-link {
			width: 60px;
			height: 90px;
		}
	}
}